html,body{width:100%;height: 100%;overflow:auto;margin: 0}
/*使body高度固定，以便于设置背景*/
body{
    background: url("../img/background.png") no-repeat;
    background-size: 100% 100%;
}
#topdiv{
    height: 3.4722rem;
    background-color: lightpink;
}
.divtop{
    width: 20%;
    float: left;
    height: 80%;
    text-align: center;
    font-size: 1.2153rem;
    margin-top: 0.6944rem;
}
.a-top{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    font-weight: bold;
    color: blueviolet;
}
#topdiv1{
    background-color: white;
    width: 100%;
    height: 0.3472rem;
}
#topdiv2{
    width: 100%;
    height: 1.0416rem;
}
#bottomdiv{
    width: 100%;
    height: 4rem;
    background-color: lightpink;
}
.bdiv{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}
.bimg{
    /*margin-left: 22%;*/
    /*margin-top: 10%;*/
    width: 45%;
    height: 56%;
    text-align: center;
}
.abottom{
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 0.6933rem;
    font-weight: bold;
}
#centerdiv{
    width: 100%;
    height: 35.5903rem;
}
.cdiv{
    flex: 1;
    overflow: auto;
    width: 22.9167rem;
    height: 20.8333rem;
    margin-top: 1.0417rem;
    margin-bottom: 1.0417rem;
    margin-left: 1.0417rem;
    background-color:  rgba(255,225,255,0.5);
    border-radius: 0.8681rem;
}
.cdiv1{
    flex: 1;
    overflow: auto;
    width: 22.9167rem;
    height: 2.0833rem;
    margin-top: 1.0417rem;
    margin-bottom: 1.0417rem;
    margin-left: 1.0417rem;
    border-top: 0.1rem solid black;
}
section{
    flex: 1;
    width: 100%;
    height: 34.7222rem;
    overflow: auto;
}
.div2{
    width: 100%;
    height: 100%;
}
.section-img{
    width: 40%;
    height: 70%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
}
#img3{
    width: 22.222rem;
    height: 16.1806rem;
}
